page-profile {

.hero {
    background-size: cover;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    color: #fff;
    height: 200px;
    position: relative;
    text-align: center;
    -webkit-transition: all 1s cubic-bezier(.55,0,.1,1);
    transition: all 1s cubic-bezier(.55,0,.1,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    width: 100%;
}

}
